<div class="header-nav">
	<ul class="nav-list clearfix">
		<% for (var i = 0; i < navData.length; i ++) { 
       var item = navData[i];
		%>
      

      <li class="nav-item">
      	<a 
      	  href="<%= item.link %>"
          class="nav-lk"
          target="_blank"
      	>
        <%= item.title %>
        <i class="iconfont icon-arrow-right"></i>	
      </a>
      </li>
		<% } %>
	</ul>
</div>