<div class="header-search">
	<div class="search-wrap J_headerSearch">
		<input 
		  type="text"
      class="input input-search"
      placeholder="搜索课程"
		/>
		<button class="btn btn-search">
			<i class="iconfont icon-search"></i>
		</button>
	</div>
</div>