<li class="<%= !i ? 'slider-item current' : 'slider-item' %>">
	<a 
	  href="<%= item.href %>"
	  target="_blank"
	>
		<img 
		   src="<%= IMG_BASE_URL + item.imgKey %>" 
		   alt="<%= item.title %>"
		   class="slider-img" />
	</a>
</li>