$defaultColor: #FD8F04;
$defaultHoverColor: #EE8817;

$successBgColor: #5cb85c;
$successBdColor: #4cae4c;
$successHoverBgColor: #449d44;
$successHoverBdColor: #398439;

$infoBgColor: #5bc0de;
$infoBdColor: #46b8da;
$infoHoverBgColor: #31b0d5;
$infoHoverBdColor: #269abc;